## Documentation: https://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - windows
julia:
  - 1.0
  - 1.1
  - 1.2
  - nightly
notifications:
  email: false
git:
  depth: 99999999

#codecov: true

## allow failures on nightly julia
## (tests will run but not make your overall status red)
matrix:
  allow_failures:
  - julia: nightly

jobs:
  include:
    - stage: "Test"
      script:
        - julia --project -e 'using Pkg; Pkg.instantiate()'
        - julia --project test/runtests.jl
    - stage: "Documentation"
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
          Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip
